[project]
name = "evaluatio"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [{ name = "Preben Vangberg", email = "prv21fgt@bangor.ac.uk" }]
requires-python = ">=3.8"

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
manifest-path = "evaluatio-bindings/Cargo.toml"
python-source = "python-src"
module-name = "evaluatio._bindings"
interpreter = "python3.8+"
